{% extends 'portfolio/base.html'  %}
{%  block content %}
<link rel="stylesheet" href=" style.css ">
 <h1>Eivis portfolio </h1>

{% load static %}



<a href="{% url 'blog:all_blogs' %}"><h1>Blog </h1></a>
<a href="{% static 'portfolio/download - Copy.jfif' %}"><h4>Resume</h4></a>

<br>

<img src=" {% static 'portfolio/tree-736885__340.webp' %}" width=700px height=500px alt="My Image">




{% for project in projects  %}

<h2>{{ project.date|date:'M d Y'|upper }}</h2>
<h1>{{ project.title }}</h1>
<h4>{{ project.description }}</h4>
<img src="{{ project.image.url}}">

<br><h3><a href="{{ project.url }}">Link</a></h3>



{% endfor %}

{% endblock %}
